meter::after {
  content: "";
  position: absolute;
  margin-inline-start: -0.3rem;
  left: var(--percentage);
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: red;
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
}

meter {
  position: relative;
  /* width: min-content; */
}
