@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.raleway-400 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.raleway-700 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
:root {
  --Gradent: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);

  --Pale-Blue: hsl(243, 100%, 93%);
  --Grayish-Blue: hsl(229, 7%, 55%);
  --Dark-Blue: hsl(228, 56%, 26%);
  --Very-Dark-Blue: hsl(229, 57%, 11%);
}
body {
  min-height: 100vh;
  min-height: 100svh;
  display: grid;
  place-content: center;
  background: url("../images/bg-mobile.png") no-repeat center / cover;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: clamp(1rem, 0.6479rem + 1.5023vw, 2rem);
  /* Mobile */
  /* gap: 1rem; */
  /* Desktop */
  /* gap: 2rem; */
}

meter::after {
  content: "";
  position: absolute;
  margin-inline-start: -0.35rem;
  left: var(--percentage);
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--Pale-Blue);
  border-radius: 50%;
  width: 0.7rem;
  height: 0.7rem;
}

meter {
  position: relative;
  width: 100%;

  height: 2.7rem;
}
meter::-webkit-meter-bar {
  background-color: var(--Very-Dark-Blue);
}

meter::-webkit-meter-optimum-value {
  margin-block-start: 0.17rem;
  /* margin-block-end: 0.3rem; */
  max-height: 0.9rem;
  margin-inline-start: 0.14rem;
  border-radius: 1rem;
  background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  /* background-color: red; */
}
.amount-left-container {
  position: absolute;
  background-color: hsl(0, 0%, 100%);

  left: 23%;
  bottom: 0;

  transform: translateY(50%);
  border-radius: 0.7rem;
  font-size: 2.5rem;
  padding-block: 0.4rem;
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.3rem;
}

.left {
  color: var(--Grayish-Blue);
  font-size: 0.9rem;
  vertical-align: middle;
}
.data-container {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--Dark-Blue);
  height: fit-content;

  border-radius: 0.5rem;

  padding-inline-start: clamp(2rem, 1.8239rem + 0.7512vw, 2.5rem);
  padding-inline-end: clamp(1.85rem, 1.6211rem + 0.9765vw, 2.5rem);
  padding-block-end: clamp(2.1rem, 3.0465rem + -1.0516vw, 2.8rem);
  /* Mobile */
  /* padding-inline-start: 2rem; */
  /* padding-inline-end: 1.85rem; */
  /* padding-block-start: 2rem; */
  /* padding-block-end: 2.8rem; */
  /* Desktop */
  /* inline-size: 34rem; */
  /* inline-size: 20.5rem; */
  inline-size: clamp(20rem, 15.0704rem + 21.0329vw, 34rem);
  /* padding-inline-start: 2.5rem; */
  /* padding-inline-end: 2.5rem; */
  padding-block-start: 2rem;
  /* padding-block-end: 2.1rem; */
}

.data-title {
  color: var(--Pale-Blue);
  text-align: center;
  font-size: 0.89rem;
}
.endpoints-container {
  display: flex;
  color: var(--Pale-Blue);
  justify-content: space-between;
  font-size: 0.8rem;
}
.icon-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--Dark-Blue);
  border-radius: 0.5rem 6rem 0.5rem 0.5rem;
  gap: 2rem;
  padding-inline: 2.5rem clamp(6.7rem, 6.1718rem + 2.2535vw, 8.2rem);
  /* Mobile */
  /* gap: 2rem; */
  /* padding-inline: 2.5rem 6.7rem; */
  /* padding-block: 2.5rem; */
  /* Desktop */
  /* gap: 2rem; */
  /* padding-inline: 2.5rem 8.2rem; */
  padding-block: 2.5rem;
}

.icons {
  display: flex;
  gap: 0.95rem;
}

.icons > img {
  background-color: var(--Very-Dark-Blue);
  padding: 0.75rem;
  border-radius: 0.5rem;
  object-fit: contain;
}
.icons > img:first-child {
  padding-inline: 0.9rem;
}
.icons > img:last-child {
  padding-inline: 0.8rem;
}
@media (min-width: 35rem) {
  body {
    background: url("../images/bg-desktop.png") no-repeat bottom / contain;
    background-color: var(--Very-Dark-Blue);
  }

  main {
    flex-direction: row;
  }

  .data-title {
    text-align: left;
  }

  .amount-left-container {
    left: 59%;
    bottom: 0;
    transform: translateY(-171%);
  }
  .amount-left-container::before {
    content: "";
    position: absolute;
    border-width: 1rem;
    border-color: transparent hsl(0, 0%, 100%) transparent transparent;
    border-style: solid;
    height: 0;
    width: 0;
    bottom: -22%;
    left: 82%;
    /* transform: translateX(100%); */
  }
}
