:root {
  --Gradent: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);

  --Pale-Blue: hsl(243, 100%, 93%);
  --Grayish-Blue: hsl(229, 7%, 55%);
  --Dark-Blue: hsl(228, 56%, 26%);
  --Very-Dark-Blue: hsl(229, 57%, 11%);
}
body {
  min-height: 100vh;
  min-height: 100svh;
  display: grid;
  place-content: center;
  background: url("../images/bg-mobile.png") no-repeat center / cover;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

meter::after {
  content: "";
  position: absolute;
  margin-inline-start: -0.3rem;
  left: var(--percentage);
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: red;
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
}

meter {
  position: relative;
  /* width: min-content; */
}

.amount-left-container {
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  left: 25%;
  bottom: -25%;
}
.data-container {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--Dark-Blue);
}
.endpoints-container {
  display: flex;
}
.icon-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--Dark-Blue);
}

.icons {
  display: flex;
  gap: 1rem;
}

.icons > img {
  background-color: var(--Very-Dark-Blue);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

@media (min-width: 35rem) {
  body {
    background: url("../images/bg-desktop.png") no-repeat bottom / contain;
    background-color: var(--Very-Dark-Blue);
  }
}
